* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

body {
    background-color: #f4f4f4;
}

main {
    min-height: 100vh;
}

.note {
    text-align: center;
    background-color: white;
    width: 22em;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.main-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-section {
    display: flex;
    justify-content: right;
    padding: 10px 200px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: white;
    cursor: pointer;
}