* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    align-items: center;
}

header a {
    color: white;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

body {
    background-color: #f4f4f4;
}

main {
    min-height: 100vh;
}

.note {
    text-align: center;
    background: white;
    width: 21.25em;
    margin: 15px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
}

.note:hover {
    transform: scale(1.1);
}

.note p {
    padding: 10px 0px 20px;
}

.note a {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #007BFF;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.main-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-section {
    display: flex;
    justify-content: right;
    padding: 10px 200px;
    align-items: center;
}

.btn-section div {
    padding: 0px 10px;
}

.btn-section a {
    padding: 6px 10px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

button {
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: white;
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.search {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

select {
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.note-detail {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#note-detail {
    background: blakc;
    width: 80%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.note-detail h3, .note-detail p {
    margin-bottom: 20px;
}